<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<description>Freemarker Configure</description>
	<!-- 引入freemarker配置文件 -->
	<context:property-placeholder
		location="classpath:config/freemarker/freemarker.properties"
		ignore-unresolvable="true" />

	<!-- freemarker configure -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/view/" />
		<property name="freemarkerSettings">
			<props>
				<!-- <prop key="locale">zh_CN</prop> <prop key="template_update_delay">0</prop> 
					<prop key="tag_syntax">auto_detect</prop> <prop key="default_encoding">UTF-8</prop> 
					<prop key="output_encoding">UTF-8</prop> <prop key="url_escaping_charset">UTF-8</prop> 
					<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop> <prop key="date_format">yyyy-MM-dd</prop> 
					<prop key="time_format">HH:mm:ss</prop> <prop key="number_format">0.###</prop> 
					<prop key="classic_compatible">true</prop> <prop key="boolean_format">true,false</prop> 
					<prop key="template_exception_handler">ignore</prop> <prop key="whitespace_stripping">true</prop> -->

				<prop key="locale">${locale}</prop>
				<prop key="template_update_delay">${template.update.delay}</prop>
				<prop key="tag_syntax">${tag.syntax}</prop>
				<prop key="default_encoding">${default.encoding}</prop>
				<prop key="output_encoding">${output.encoding}</prop>
				<prop key="url_escaping_charset">${url.escaping.charset}</prop>
				<prop key="datetime_format">${datetime.format}</prop>
				<prop key="date_format">${date.format}</prop>
				<prop key="time_format">${time.format}</prop>
				<prop key="number_format">${number.format}</prop>
				<prop key="classic_compatible">${classic.compatible}</prop>
				<prop key="boolean_format">${boolean.format}</prop>
				<prop key="template_exception_handler">${template.exception.handler}</prop>
				<prop key="whitespace_stripping">${whitespace.stripping}</prop>
			</props>
		</property>
	</bean>

	<!-- 试图解析 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		<property name="cache" value="true" />
		<property name="suffix" value=".ftl" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="requestContextAttribute" value="request" />
		<!-- 将请求和会话属性作为变量暴露给FreeMarker模板使用。要做到这一点，可以设置exposeRequestAttributes或者exposeSessionAttributes为true -->
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<!-- 使用这些宏，必须设置FreeMarkerViewResolver的exposeMacroHelpers属性为true -->
		<property name="exposeSpringMacroHelpers" value="true" />
	</bean>
</beans>